.loading {
    margin: 2em 0;
    text-align: center;
}

.loading div {
    margin-bottom: 1em;
    font-size: 2em;
    letter-spacing: -1px;
}

.search-bar {
    font-size: 1.2em;
    height: 2.5em;
    border-radius: 5em;
    padding-left: 1em;
    margin-bottom: 2em;
    width: 100%;
}